<div class="container-chat">
  <div class="row container-height">
    <section class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search...">
        </div>
      </div>
      <div *ngFor="let client of clients "
           (click)="setIndex(client)"
           [class.message-active]="selectedIndex === client"
           class="discussion">
        <div class="photo"
             style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
          <div class="online"></div>
        </div>
        <div class="desc-contact">
          <p class="name">Megan {{client}}</p>
          <p class="message">9 pm at the bar if possible 😳</p>
        </div>
        <div class="timer">12-22-2022 15:33:10</div>
      </div>


    </section>
    <section class="chat">
      <div class="header-chat">
        <i class="icon fa fa-user-o" aria-hidden="true"></i>
        <p class="name">Megan Leib +99889944556</p>
        <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
      </div>
      <div class="messages-chat">
        <div class="message">
          <div class="photo"
               style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
            <div class="online"></div>
          </div>
          <p class="text"> Hi, how are you ? </p>
        </div>
        <div class="message text-only">
          <p class="text"> What are you doing tonight ? Want to go take a drink ?</p>
        </div>
        <div class="message admin-message">
          <p class="text">Message from admin , its onluy for information</p>
        </div>
        <p class="time"> 14h58m12s</p>
        <div class="message text-only">
          <div class="response">
            <p class="text"> Hey Megan ! It's been a while 😃</p>
          </div>
        </div>
        <div class="message text-only">
          <div class="response">
            <p class="text"> When can we meet ?</p>
          </div>
        </div>
        <p class="response-time time"> 15h04m12s</p>
        <div class="message">
          <div class="photo"
               style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
            <div class="online"></div>
          </div>
          <p class="text"> 9 pm at the bar if possible 😳</p>
        </div>
        <p class="time"> 15h09m12s</p>
      </div>
      <div class="footer-chat">
        <mat-icon class="menu-button">sentiment_very_satisfied</mat-icon>
        <input type="text" class="write-message" placeholder="Type your message here">
        <mat-icon class="menu-button">send</mat-icon>
      </div>
    </section>
    <section class="infos">

      <div class="info">
        <div class="photo"
             style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
          <div class="online"></div>
        </div>
        <div class="">
          <p class="name">Megan Leib</p>
          <p class="message">9 pm at the bar if possible 😳</p>
        </div>
        <div class="timer">12 sec</div>
      </div>


    </section>
  </div>
</div>

