
<span class="title">Clients</span>
<table style="background-color: white" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"

>


  <ng-container matColumnDef="lastOperator">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>Посл. оператор и номер</span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.lastOperator}} </td>
  </ng-container>

  <ng-container matColumnDef="clientName">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>Клиент </span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
  </ng-container>

  <ng-container matColumnDef="phone_messenger">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>Телефон и мессенжер</span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="menu-button">send</mat-icon>
      {{' '+element.phone}} </td>
  </ng-container>


  <ng-container matColumnDef="lastMessage">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>Последнее сообщение </span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.lastMessage}} </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>теги клинета </span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
  </ng-container>

  <ng-container matColumnDef="lastMessageDate">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>Последнее сообщение</span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.lastMessageDate}} </td>
  </ng-container>

  <ng-container matColumnDef="firstMessageDate">
    <th mat-header-cell *matHeaderCellDef>
      <div>
        <span mat-sort-header>Первое сообщение</span>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.firstMessageDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator [length]="totalElementCount"
               [pageSize]="DEFAULT_PAGE_ELEMENT_COUNT"
               [pageSizeOptions]="[10, 20, 50]"
               (page)="onPaginateChange()">
</mat-paginator>

