<div *ngIf="pageLoading" class="uploader-status" style="  justify-content: center;
  display: flex;
  padding-top: 10%;">
  <mat-spinner></mat-spinner>
</div>

<div [style.display]="pageLoading ? 'none' : 'block'">
  <div class="right">
    <span class="pr">{{lastRefreshDate | date:'yyyy:MM:dd hh:mm:ss'}}</span>
    <button [disabled]="disableRefreshButton" class="button-right" mat-flat-button (click)="refreshData()">
      Refresh data
      <mat-icon class="menu-button">refresh</mat-icon>
    </button>
  </div>


  <span class="title" style="padding-top: 2rem;">Clients</span>
  <table style="background-color: white" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
         [formGroup]="searchForm">


    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="form-width">
          <span mat-sort-header>Name </span>
          <mat-form-field class="removeMargin">
            <input matInput placeholder="Search by name" formControlName="clientName"
                   (input)="filter('clientName',$event.target.value)"
            >
            <button [style.color]="searchForm.get('clientName').value ? 'black' : 'white'"
                    mat-button mat-icon-button matSuffix
                    (click)="resetFieldFilter('clientName')">
              <mat-icon class="menu-button">clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastMessage">
      <th mat-header-cell *matHeaderCellDef style="width: 22% !important;">
        <div class="form-width">
          <span mat-sort-header>Text of last message</span>
          <mat-form-field class="removeMargin">
            <input matInput placeholder="Search by message" formControlName="lastMessage"
                   (keyup)="filter('lastMessage',$event.target.value)"
            >
            <button [style.color]="searchForm.get('lastMessage').value ? 'black' : 'white'"
                    mat-button mat-icon-button matSuffix
                    (click)="resetFieldFilter('lastMessage')">
              <mat-icon class="menu-button">clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td [matTooltip]="element.lastMessage" mat-cell
          *matCellDef="let element">{{element.lastMessage.length > 90 ? element.lastMessage.substring(0, 90) + '...' : element.lastMessage}}   </td>
    </ng-container>

    <ng-container matColumnDef="lastMessageDate">
      <th mat-header-cell *matHeaderCellDef style="width: 18%;">
        <div class="form-width">
          <span mat-sort-header>Date of last message</span>
          <div class="row">
            <mat-form-field class="removeMargin col-md-6">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName='startDate' readonly
                     (click)="startDatePicker.open()">
              <button *ngIf="searchForm.get('startDate').value"
                      mat-button mat-icon-button matSuffix
                      (click)="resetFieldFilter('startDate')">
                <mat-icon class="menu-button">clear</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="removeMargin col-md-6">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="endDatePicker" formControlName='endDate' readonly
                     [min]="searchForm.get('startDate').value"
                     (click)="endDatePicker.open()">
              <button *ngIf="searchForm.get('endDate').value"
                      mat-button mat-icon-button matSuffix
                      (click)="resetFieldFilter('endDate')">
                <mat-icon class="menu-button">clear</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.lastMessageDate | date:'yyyy:MM:dd hh:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>
        <div class="form-width">
          <span mat-sort-header>Phone number</span>
          <mat-form-field class="removeMargin">
            <input matInput placeholder="Search by phone" formControlName="phone"
                   (keyup)="filter('phone',$event.target.value)"
            >
            <button [style.color]="searchForm.get('phone').value ? 'black' : 'white'"
                    mat-button mat-icon-button matSuffix
                    (click)="resetFieldFilter('phone')">
              <mat-icon class="menu-button">clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="messenger">
      <th mat-header-cell *matHeaderCellDef >
        <div class="form-width">
          <span mat-sort-header>Communication Sources</span>
          <mat-form-field class="removeMargin">
            <input matInput placeholder="Search by sources" formControlName="messenger"
                   (keyup)="filter('messenger',$event.target.value)"
            >
            <button [style.color]="searchForm.get('messenger').value ? 'black' : 'white'"
                    mat-button mat-icon-button matSuffix
                    (click)="resetFieldFilter('messenger')">
              <mat-icon class="menu-button">clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="menu-button">send</mat-icon>
      </td>
    </ng-container>


    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef >
        <div class="form-width">
          <span mat-sort-header>Tags</span>
          <mat-form-field class="removeMargin">
            <input matInput placeholder="Search by tags" formControlName="tags"
                   (keyup)="filter('tags',$event.target.value)"
            >
            <button [style.color]="searchForm.get('tags').value ? 'black' : 'white'"
                    mat-button mat-icon-button matSuffix
                    (click)="resetFieldFilter('tags')">
              <mat-icon class="menu-button">clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator [length]="totalElementCount"
                 [pageSize]="DEFAULT_PAGE_ELEMENT_COUNT"
                 [pageSizeOptions]="[10, 20, 50]"
                 (page)="onPaginateChange()">
  </mat-paginator>

</div>
