
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

span {
  flex: 1 1 auto;
  text-align: center;
}

.change-audit {
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.button-right {
  background-color: #0e0e28;
  color: white;
  margin-bottom: 1em
}

.right {
  float: right;
}

.pr {
  font-weight: bold;
  font-size: 15px;
  padding-right: 2rem;
}
