.row.gutterFix{
  --bs-gutter-x: 0
}

.colSide{
  width: 15%;
  float: left;
}

.colMain{
  float: right;
  width: 85%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}
