.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: white;
  color: darkgray;
}

.form-container {
  padding-top: 3em;
  width: 93%;
  align-items: flex-end;
}

.title {
  float: left;
  color: darkgray;

}

.menu-mat-bar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
