
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
/* Structure */
table {
  width: 100%;
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .select-all {
  width: 20px !important;
  margin-top: -5px;
}



.demand-search {
  padding-left: 2em;
  padding-right: 2em
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}



mat-header-cell, .mat-header-cell {
  padding: 8px 8px 0 0;
}
::ng-deep .removeMargin div.mat-form-field-wrapper{
  margin-bottom: -1.35em;
}
::ng-deep .mat-checkbox-inner-container {
  margin-top: 6px !important;
}


.download-button {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em
}

.link-primary {
  cursor: pointer;
  text-decoration: underline;
  color: deepskyblue;

}
